# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on: workflow_dispatch
  # pull_request:
  #   branches: 
  #     - main
  # workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [latest, lts/*]
        # See Supported Version Syntax: https://github.com/actions/setup-node?tab=readme-ov-file#supported-version-syntax
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'

    - run: npm install 

    - name: Run lint
      run: npm run lint

    - name: Run build
      run: npm run build

    - name: Run tests
      run: npm run test

    # See Coverall setup docs: https://github.com/marketplace/actions/coveralls-github-action 
    - name: Coveralls
      uses: coverallsapp/github-action@v2
      with:
        file: ./coverage/lcov.info
